aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
attrs
certifi
edge-tts
frozenlist
greenlet
idna
magic-filter
multidict
propcache
pydantic
pydantic_core
SQLAlchemy
tabulate
typing-inspection
typing_extensions
yarl
